# OSX
.DS_Store

#
.idea
.git
.gitignore
.dockerignore
.env
env.example
docker-compose.yml
Dockerfile
README.md
vendor
.phan/
.php_cs.dist
.travis/
.travis.yml
build
phpunit.xml*

# saseul
*.tar.gz
*.pid
*.log

install_package.sh

blockdata/apichunks/*
blockdata/broadcastchunks/*
blockdata/transactions/*

data/db/*
data/logs/*
data/core/*
tests/
cmd/
