<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in([
        'sourcedata/SaseulDefault/Api',
        'sourcedata/SaseulDefault/Common',
        'sourcedata/SaseulDefault/Consensus',
        'sourcedata/SaseulDefault/Constant',
        'sourcedata/SaseulDefault/Core',
        'sourcedata/SaseulDefault/Custom',
        'sourcedata/SaseulDefault/Daemon',
        'sourcedata/SaseulDefault/Script',
        'sourcedata/SaseulDefault/System',
        'sourcedata/SaseulDefault/Util',
        'tests'
    ])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@PHP73Migration' => true,

        'yoda_style' => false,
        'php_unit_internal_class' => false,
        'php_unit_test_class_requires_covers' => false,
        'increment_style' => false,
        'native_function_invocation' => false,
        'concat_space' => ['spacing' => 'one'],
        'phpdoc_annotation_without_dot' => false,
        'trailing_comma_in_multiline_array' => false,
        'strict_comparison' => false,
        'strict_param' => false,
        'php_unit_test_case_static_method_calls' => [ 'call_type' => 'this' ],
        'no_superfluous_phpdoc_tags' => false,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
;
